{% extends 'certificados/base.html' %}
{% block conteudo %}
    <h2 class="font-weight-light pb-3">{{titulo}}</h2>

    {% if c %}
        <center>
            {% if c.pdf %}
                <embed src="{{ c.imagem.url }}" class="pdf" height="500px" />
            {% else %}
                <a href="{{ c.imagem.url }}"><img src="{{ c.imagem.url }}" class="img-fluid img-thumbnail imagem"></a>
                <br><br>
            {% endif %}
        </center>
        <div class="ver_certificado">
            <p><span class="fw-bold break-word">Título: </span>{{c.titulo}}</p>
            <p><span class="fw-bold">Carga horária: </span>{{c.horas}}</p>
            <p><span class="fw-bold break-word">Categoria: </span>{{c.categoria}}</p>
            <p><span class="fw-bold">Data da Atividade: </span>{{c.data_emissao|date:'d M. Y'}}</p>
            <p><span class="fw-bold">Data de Envio: </span>{{c.data_envio|date:'d M. Y'}}</p>
            {% if c.situacao == 1 %}
                <p><span class="fw-bold">Situação: </span><span id="situacao_{{c}}" class="fw-bold situacao_aprovado"> {{situacao.0}} 
            {% elif c.situacao == 2 %}
                <p><span class="fw-bold">Situação: </span><span id="situacao_{{c}}" class="fw-bold situacao_pendente"> {{situacao.1}} 
            {% elif c.situacao == 3 %}
	    <p><span class="fw-bold">Situação: </span><span id="situacao_{{c}}" class="fw-bold situacao_recusado"> {{situacao.2}} 
            {% else %}
                <p><span class="fw-bold">Situação: </span><span id="situacao_{{c}}" class="fw-bold situacao_erro"> {{situacao.3}} 
            {% endif %}
	    {% if c.observacao %}
		- {{c.observacao}}
	    {% endif %}
	    </span></p>


        </div>    
            
    {% else %}
            <p> Certificado inexistente. </p>
    {% endif %}

    {% if user.is_superuser or userDeletar %}
        {% if user.perfil.curso == c.curso %}
            {% if link == 'ver-certificado' %}
                <form action="/certificados/validar/{{ c.id }}/" method="POST" id="form-certificado">
            {% elif link == 'ver-certificado-usuario' %}
                <form action="/certificados/usuario/{{u.id}}/certificado/validar/{{c.id}}/" method="POST" id="form-certificado">
            {% else%}
                <form action="/certificados/validar/{{ c.id }}/" method="POST" id="form-certificado">
            {% endif %}
                <div class="forminvisivel">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <div class="botoes-Vercertificado">
                    {% if user.is_superuser %}
		        <a href="/admin/certificados/certificado/{{c.id}}/change/" class="btn btn-warning">Editar</a>
                        <button onclick="att_formValidarCertificado('aprovar')" type="submit" class="btn btn-success">Aprovar</button>
                        <button onclick="recusar_certificado()" class="btn btn-secondary">Recusar</button>
                        <button onclick="att_formValidarCertificado('aprovar-proximo')" type="submit" class="btn btn-primary">Aprovar e ver próximo</button>
                    {% endif %}
                    <button onclick="deletar_certificado()" class="btn btn-danger">Deletar</button>
                </div>
            </form><br><br>
        {% endif %}
    {% endif%}

{% endblock %}
