{% extends 'sivac/certificados/base.html' %}
{% load static %}
{% block conteudo %}
    <h3 class="font-weight-light pb-3">Atividades Complementares</h3>
             {% if not request.user.is_superuser %}
		    <a href="/sivac/certificados/novo_certificado/" class="btn btn-success float-end">Cadastrar atividade</a>
             {% endif %}

             {% if request.user.is_superuser %}
		     {% if quantidade_pendente > 0 %}
			     <a href="/sivac/certificados/validar/" class="btn btn-success float-end"><i class="bi bi-list-check"></i> Avaliar {{ quantidade_pendente }} atividade{{quantidade_pendente|pluralize}} </a>
		     {% else %}
			     <button type="button" class="btn btn-secondary float-end" disabled > Nenhuma atividade pendente </button>

		     {% endif %}
             {% endif %}
    {% if lista_certificados %}
        <div class="div_barra_pesquisa">
		<i class="bi bi-search lupa"> </i>
            <input class="form-control barra_pesquisa_certificados" value="" type="search" id="barra_pesquisa" placeholder="Digite o início do título para buscar">
        </div>

        <table class="table" style="margin-top: 32px;">
            <form action="/sivac/certificados/{% if formulario == 'certificados' %}todos{% else %}validar{% endif %}/" method="POST">
                <div class="forminvisivel">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <tr>
                    <th> <input onclick="att_formFiltro('autor')" type="submit" class="linkFiltros fw-bold" id="submit_autor" value="Estudante"><br> </th>
                    <th> <input onclick="att_formFiltro('titulo')" type="submit" class="linkFiltros fw-bold" id="submit_titulo" value="Título"><br> </th>
                    <th class="form-horas"> <input onclick="att_formFiltro('horas')" type="submit" class="linkFiltros fw-bold" id="submit_horas" value="C.H."><br> </th>
                    <th class="form-data-emissao"> <input onclick="att_formFiltro('data_emissao')" type="submit" class="linkFiltros fw-bold" id="submit_data_emissao" value="Data da Atividade"><br> </th>
                    <th> <input onclick="att_formFiltro('data_envio')" type="submit" class="linkFiltros fw-bold" id="submit_data_envio" value="Data de Envio"><br> </th>
                    <th class="form-situacao"> <input onclick="att_formFiltro('situacao')" type="submit" class="linkFiltros fw-bold" id="submit_situacao" value="Situação"><br> </th>
                </tr>
            </form>

            <div>
                {% for p in lista_certificados %}
                    <tr id="tabela_{{p}}" style="display: normal;" class="elementos_tabela">
                        {% if user.is_superuser %}
                            <td class="break-word"><a href="/sivac/certificados/usuario/{{p.usuario.id}}">{{p.tamanho_autor}}</a></td>
                        {% else %}
                            <td class="break-word">{{p.tamanho_autor}}</td>
                        {% endif %}
                        <td class="break-word"><a id="titulo_tabela_{{p}}" href="/sivac/certificados/{{ p.id }}">{{p.tamanho_titulo}}</a></td>
                        <td class="form-horas"> {{p.horas}} </td>
                        <td class="form-data-emissao"> {{p.data_emissao|date:'d M. Y'}} </td>
                        <td> {{p.data_envio|date:'d M. Y'}} </td>
                        {% if p.situacao == 1 %}
                            <td class="form-situacao"><span id="situacao_{{p}}" class="fw-bold situacao_aprovado"> {{situacao.0}} 
                        {% elif p.situacao == 2 %}
                            <td class="form-situacao"><span id="situacao_{{p}}" class="fw-bold situacao_pendente"> {{situacao.1}} 
                        {% elif p.situacao == 3 %}
		            <td class="form-situacao"><span id="situacao_{{p}}"  class="fw-bold situacao_recusado"> {{situacao.2}} 
                        {% else %}
                            <td class="form-situacao"><span id="situacao_{{p}}" class="fw-bold situacao_erro"> {{situacao.3}} 
                        {% endif %}
                        {% if p.observacao %}
				<i data-toggle="tooltip" data-placement="right" title="{{p.observacao}}" class="bi bi-info-circle-fill"></i>
			{% endif %}


			</span></td>

                    </tr>
                {% endfor %}
            </div>
        </table>
    
    {% else %}
        <p>Nenhum certificado cadastrado.</p>
    {% endif %}

    <script src="{% static 'sivac/certificados/certificados.js'%}"></script>
{% endblock %}
