{% extends 'sivac/certificados/base.html' %}


{% block conteudo%}
    {% if u %}
        {% if not request.user.is_superuser %}
	<a href="#" class="ctafloat">
</a>
  <div class="container">
    <div class="row row-cols-1 row-cols-lg-4">
      <div class=" col">
        <div class="card mb-3 shadow-sm text-center">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Progresso</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{u.perfil.percentual_integralizado}}%</h1>
	    <p>Você está <b>{{u.perfil.situacao}}</b> com o cumprimento das suas atividades complementares de curso. </p>
          </div>
        </div>   
      </div>
      <div class=" col">
        <div class="card mb-3 shadow-sm text-center">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Horas validadas</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{u.perfil.horas_concluidas}}</h1>
	    <p>O seu curso exige um mínimo {{u.perfil.curso.quantidade_horas}} horas validadas em atividades complementares para conclusão.</p>
          </div>
        </div>   
      </div>
      <div class=" col">
        <div class="card mb-3 shadow-sm text-center">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Horas pendentes</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{u.perfil.horas_faltando}}</h1>
	    <p> Para concluir o curso em {{u.perfil.ano_conclusao_estimado}} você precisa, em média, de {{u.perfil.horas_faltando_por_ano}}h/ano em atividades complementares.</p>
          </div>
        </div>   
      </div>
      <div class=" col">
        <div class="card mb-3 shadow-sm text-center">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Horas em análise</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{u.perfil.horas_pendentes}}</h1>
	    <p>Você tem {{u.perfil.num_certificados_pendentes}} atividade{{u.perfil.num_certificados_pendentes|pluralize}} aguardando análise da comissão de atividades complementares do seu curso. </p>
          </div>
        </div>   
      </div>
    </div>
    <div class="row">
	<div class="col">

        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Carga horária validada por tipo de atividade</h4>
          </div>
          <div class="card-body">
            <table class="table">
                <tr>
                    <th> Tipo de atividade</th>
                    <th style="text-align: right" > Validada </th>
                    <th style="text-align: right" > Limite </th>
                </tr>
                
                {% for c in u.perfil.horas_concluidas_categorias %}
                    <tr id="tabela_{{c}}" style="display: normal;" class="elementos_tabela">
                        <td>{{c.categoria}}</td>
			<td style="text-align: right" >{{c.horas}}</td>
			<td style="text-align: right" > 
		              {% if c.limite_horas >= 999 %}
			        &infin;
			      {% else %}
				{{c.limite_horas}}
			      {%endif%}

			</td>
                    </tr>
                {% endfor %}

            </table>
	  </div>
        </div>
        </div>		
    </div>
  </div>



        {% endif %}

    

    {% if request.user.is_superuser %}
    {% if lista_certificados %}
    <h3>Últimos 10 certificados enviados</h3>

        <table class="table" style="margin-top: 32px;">
            <tr>
                <th> Estudante </th>
                <th> Título </th>
                <th class="form-horas"> Horas </th>
                <th class="form-data-emissao"> Data da Atividade </th>
                <th> Data de envio </th>
                <th class="form-situacao"> Situação </th>
            </tr>
        {% for p in lista_certificados %}
            <tr id="tabela_{{p}}" style="display: normal;" class="elementos_tabela">
                {% if user.is_superuser %}
                    <td class="break-word"><a href="/sivac/certificados/usuario/{{p.usuario.id}}">{{p.tamanho_autor}}</a></td>
                {% else %}
                    <td class="break-word">{{p.tamanho_autor}}</td>
                {% endif %}
                <td class="break-word" id="titulo_tabela_{{p}}"><a href="/sivac/certificados/{{ p.id }}">{{p.tamanho_titulo}}</a></td>
                <td class="form-horas"> {{p.horas}} </td>
                <td class="form-data-emissao"> {{p.data_emissao|date:'d M. Y'}} </td>
                <td> {{p.data_envio|date:'d M. Y'}} </td>
                {% if p.situacao == 1 %}
                    <td class="form-situacao"><span id="situacao_{{p}}" class="fw-bold situacao_aprovado"> {{situacao.0}} </span></td>
                {% elif p.situacao == 2 %}
                    <td class="form-situacao"><span id="situacao_{{p}}" class="fw-bold situacao_pendente"> {{situacao.1}} </span></td>
                {% elif p.situacao == 3 %}
		<td class="form-situacao"><span id="situacao_{{p}}" class="fw-bold situacao_recusado"> {{situacao.2}} <i data-toggle="tooltip" data-placement="right" title="{{p.observacao}}" class="bi bi-info-circle-fill"></i> </span></td>
                {% else %}
                    <td class="form-situacao"><span id="situacao_{{p}}" class="fw-bold situacao_erro"> {{situacao.3}} </span></td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>Nenhum certificado cadastrado.</p>
    {% endif %}
    {% endif %}

    {% endif %}

{% endblock %}
